@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Poppins';
  src: url('../shared/assets/regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../shared/assets/medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../shared/assets/bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../shared/assets/black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

* {
    font-family: 'Poppins', system-ui, sans-serif;
}

@theme {
  --text-big: 120rem;
}